@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/js/home/search.js"></script>
}

<div ng-app="AzureSearchDashBoard">
    <h2>Azure Search Dashboard</h2>
    <div ng-controller="SearchController as search">
        <div class="form-group">
            <label for="selecIndexName">Select an Index</label>
            <select id="selecIndexName" class="form-control" ng-model="search.selectedIndex"
                    ng-options="name as name for name in search.indexNames track by name"
                    ng-change="search.indexChanged()"></select>
        </div>
        <div ng-if="search.index">
            <div class="form-group">
                <label>Search</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." ng-model="search.searchQuery">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click="search.queryIndex()">Search</button>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h4>Fields</h4>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="field in search.index.fields" 
                            ng-class="{active: field.selected}"
                            ng-click="search.manageField(field)">{{field.name}}</li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th ng-repeat="field in search.selectedFields">{{field.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in search.data.results">
                                <td ng-repeat="field in search.selectedFields">{{row.document[field.name]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>